/* Layouts */
body {
  margin: 0;
}
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  height: auto;
  margin: auto;
}
.text-center {
  text-align: center;
}
.blue-box {
  width: 100%;
  overflow: hidden;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  background-color: blue;
}
.blue-box * {
  padding: 0;
  margin: 0;
}
.row {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}
.w-33 {
  font-size: 10rem;
}
.w-33 i {
  cursor: pointer;
}
.w-33 i:hover {
  color: blue;
}
.counts {
  padding: 10px;
  border: 2px solid;
  text-align: center;
  width: 100px;
  height: auto;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
/* Modal Box */
.modal {
  top: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.3);
  display: none;
}
.modal-box {
  text-align: center;
  width: 400px;
  padding: 60px 30px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-box .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  outline: none;
  background-color: inherit;
  font-size: 18px;
}
.modal-box .close-btn:hover {
  background-color: #cecece;
}
.modal-box * {
  margin: 0;
  padding: 0;
}
